.card-container{
    text-align: center;
}

.hat-img {
    height: 300px;
}

@media only screen and (max-width: 1100px){
    .hat-img {
        height: 250px;
    }
}

@media only screen and (max-width: 550px){
    .hat-img {
        height: 200px;
    }
}